BasedOnStyle: Google

IncludeCategories:
  - Regex:           'common/'
    Priority:        2
  - Regex:           'stb/'
    Priority:        3
  - Regex:           '<.*>'
    Priority:        4
  - Regex:           '.*'
    Priority:        1
